body{

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
p{
    font-size: large;
}

#top{
    background-color: #EE7203;
    min-width: 100%;
    min-height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;

}
.link-group{
    
    position: absolute;
    top: 20px;
    left: 10px;
    justify-content: left;
    display: flex;
    width: 100%;
}
.link-group a {

    background-color: #f8f8f8; 
    border: 1px solid rgb(0, 0, 0); 
    color: rgb(53, 53, 53); 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    border-radius: 5px;

  }
  .link-group a:not(:last-child) {
    border-right: none; 
  }
  .link-group:after {
    content: "";
    clear: both;
    display: table;
  }
  .link-group a:hover {
    opacity: .9;
  }
  a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: large;
    color: black;
    background: #555;
    padding: 8px 13px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    
    
  }
  a:hover{
    opacity: .7;}
  form{
    width: auto;
    min-height: fit-content;
    
    padding: 30px;
   
    margin: 50px;
    
}
.grid-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns:  200px auto;
    border-radius: 5px;
    border: 2px  black;

  }

  .grid-item{
      background: rgb(255, 255, 255);
      border-radius: 5px;
      border: 2px solid black;
      
  }
  #category-container{
      min-width: 60px;
      max-width: 200px;
  }
  p.error{
    background: rgb(225, 48, 77);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;

  }
  p.success{
    background: rgb(68, 230, 36);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.category{
  margin-top: 5px;
    margin-left: 2%;
    min-width: 95%;
}
#oprema-container{
  padding-top: 10px;
}
.image{
  width: 150px;
  height: 100px;
  
 
  
}
.oprema-package{
  background-color: white;
  margin: 10px;
  background: white;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

#zgodovina{
    position: relative;
    height: 80%;
    width: 100%;
    background-color: white;
    margin: 10px;
    background: white;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;

}
#data{
    padding: 5px;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    margin: 10px;
}
.scrollable{
  height: 300px;
  overflow-y: auto;
}