body{

    background: linear-gradient(#EE7203,rgb(220, 109, 12));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
form{
    width: 500px;
    border: 2px solid rgb(0, 0, 0);
    padding: 30px;
    background:  #fff;

    border-radius: 15px;

}
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;

}
button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border:none;
}
.link-group a {

    background-color: #f8f8f8; 
    border: 1px solid rgb(0, 0, 0); 
    color: rgb(53, 53, 53); 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    border-radius: 5px;

  }
  .link-group a:not(:last-child) {
    border-right: none; 
  }
  .link-group:after {
    content: "";
    clear: both;
    display: table;
  }
  .link-group a:hover {
    opacity: .9;
  }
a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: large;
    color: black;
    background: #555;
    padding: 8px 13px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
  }